body {
  background: #2e3032;
  font-family: 'PT Sans Caption', sans-serif;
  color: #fff;
  font-size: 25px; }

#countdown {
  text-align: center;
  font-size: 40px;
  margin-top: 65px; }

canvas {
  display: block;
  margin: 20px auto; }
